@media only screen and (min-width: 1201px) {
  .qt-spacer-xl {
    padding-top: 10rem
  }
  .qt-spacer-l {
    padding-top: 6rem
  }
  .qt-spacer-m {
    padding-top: 2.8rem
  }
  .qt-spacer-s {
    padding-top: rem
  }
  .qt-vertical-padding-l {
    padding: 6.25rem 0 5rem 0
  }
  .qt-vertical-padding-m {
    padding: 2.8rem 0 2rem 0
  }
  .qt-vertical-padding-s {
    padding: 1.4rem 0
  }
  .valign-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .qt-fontsize-h1,
  .qt-fontsize-h2,
  .qt-fontsize-h3,
  .qt-fontsize-h4,
  .qt-fontsize-h5,
  .qt-fontsize-h6 {
    line-height: 1.2
  }
  .qt-fontsize-h3 {
    font-size: 0rem;
  }
  h3, h2.widgettitle {
    font-size: 2rem;
  }
  h6,
  .qt-fontsize-h6 {
    font-size: 13px
  }
  h5,
  .qt-fontsize-h5 {
    font-size: 16px
  }
  h3,
  h2.widgettitle {
    font-size: 2rem
  }
  h2,
  .qt-fontsize-h2 {
    font-size: 2.827rem
  }
  h1,
  .qt-fontsize-h1 {
    font-size: 4rem
  }
  .qt-fontsize-h0 {
    font-size: 5.2rem
  }
  .qt-title {
    line-height: 1em
  }
  .qt-container {
    max-width: 1170px
  }
  .qt-container-l {
    max-width: 100%;
    padding: 0 20px
  }

  .qt-menubar {
    height: auto;
    line-height: 65px;
    box-shadow: none;
    position: fixed;
    z-index: 301
  }
  .qt-menubar .qt-menubg-color {
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    will-change: opacity
  }
  .qt-menubar .brand-logo {
    position: relative;
    left: 0
  }
  .qt-menubar ul.qt-desktopmenu {
    text-align: right;
    line-height: 65px;
    padding: 0 20px;
    z-index: 100;
    position: relative;
    -webkit-transition: background 0.15s;
    transition: background 0.15s;
    will-change: background
  }
  .qt-menubar ul.qt-desktopmenu .qt-morphbtn {
    padding-right: 0;
    padding-top: 0
  }
  .qt-menubar ul.qt-desktopmenu .qt-logo-text {
    font-size: 45.248px;
    line-height: 2.828rem;
    padding: 0
  }
  .qt-menubar ul.qt-desktopmenu .qt-logo-text img {
    margin: 0;
    float: left
  }
  .qt-menubar ul.qt-desktopmenu>li.qt-menuitem.wpmenucartli.wpmenucart-display-standard a i {
    line-height: inherit
  }
  .qt-menubar ul.qt-desktopmenu>li.qt-menuitem.wpmenucartli.wpmenucart-display-standard a::after {
    display: none;
    top: 2px
  }
  .qt-menubar ul.qt-desktopmenu>li>a.brand-logo {
    padding: 0
  }
  .qt-menubar ul.qt-desktopmenu>li.qt-menubuttons {
    line-height: 1.414rem;
    padding: 1.414rem 1rem 0 0
  }
  .qt-menubar ul.qt-desktopmenu>li.right::after,
  .qt-menubar ul.qt-desktopmenu>li.right::before,
  .qt-menubar ul.qt-desktopmenu>li.right>a::after,
  .qt-menubar ul.qt-desktopmenu>li.right>a::before,
  .qt-menubar ul.qt-desktopmenu>li .brand-logo::after,
  .qt-menubar ul.qt-desktopmenu>li .brand-logo::before,
  .qt-menubar ul.qt-desktopmenu>li.qt-logo-link::after,
  .qt-menubar ul.qt-desktopmenu>li.qt-logo-link::before {
    display: none
  }
  .qt-menubar ul.qt-desktopmenu>li:hover {
    z-index: 300
  }
  .qt-menubar ul.qt-desktopmenu>li:hover::after,
  .qt-menubar ul.qt-desktopmenu>li:hover>a::after,
  .qt-menubar ul.qt-desktopmenu>li:hover>a::before {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 1
  }
  .qt-menubar ul.qt-desktopmenu>li>ul {
    position: fixed;
    top: -2000px;
    display: block;
    margin-top: -1px;
    width: 230px;
    right: 2px;
    opacity: 0;
    margin-top: 30px;
    -webkit-transition: opacity 0.25s, margin 0.25s;
    transition: opacity 0.25s, margin 0.25s
  }
  .qt-menubar ul.qt-desktopmenu>li>ul li {
    display: block;
    width: 100%;
    position: relative
  }
  .qt-menubar ul.qt-desktopmenu>li>ul li::after {
    display: block;
    position: absolute;
    content: " ";
    right: 0;
    top: 0;
    width: 2%;
    height: 100%;
    z-index: 1;
    -webkit-transition: width 0.15s ease;
    transition: width 0.15s ease;
    will-change: width
  }
  .qt-menubar ul.qt-desktopmenu>li>ul li a {
    display: block;
    text-align: right;
    line-height: 1.2;
    padding: 0.7rem 1rem;
    position: relative;
    z-index: 2
  }
  .qt-menubar ul.qt-desktopmenu>li>ul li a:hover {
    color: #fff
  }
  .qt-menubar ul.qt-desktopmenu>li>ul li>ul {
    position: absolute;
    display: block;
    margin-top: 0px;
    width: 230px;
    border-top: none;
    top: -1000px;
    left: -230px;
    margin: 40px 0px 0px 0px;
    opacity: 0;
    -webkit-transition: opacity 0.3s, margin 0.3s;
    transition: opacity 0.3s, margin 0.3s;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s
  }
  .qt-menubar ul.qt-desktopmenu>li>ul li:hover::after {
    width: 100%
  }
  .qt-menubar ul.qt-desktopmenu>li>ul li:hover>ul {
    top: 0;
    margin: 0px 0px 0px 0px;
    opacity: 1
  }
  .qt-menubar ul.qt-desktopmenu>li>ul::after {
    display: block;
    clear: both;
    width: 100%
  }
  .qt-menubar ul.qt-desktopmenu>li::after {
    display: block;
    clear: both;
    width: 100%
  }
  .qt-menubar ul.qt-desktopmenu>li:hover>ul {
    position: absolute;
    display: block;
    opacity: 1;
    margin-top: 0px;
    top: 100%
  }
  .qt-menubar ul.qt-menu-secondary {
    height: 70px;
    text-align: right;
    padding: 0;
    position: relative;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    will-change: height;
    overflow: hidden;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  .qt-menubar ul.qt-menu-secondary li {
    padding-top: 19px
  }
  .qt-menubar.qt-menubar-center {
    padding-top: 20px
  }
  .qt-menubar.qt-menubar-center ul.qt-desktopmenu.qt-desktopmenu-scr {
    padding-bottom: 10px;
    padding-top: 10px
  }
  .qt-menubar.qt-menubar-center ul.qt-desktopmenu>li.qt-menuitem:first-child>a {
    margin-left: 0
  }
  .qt-menubar.qt-menubar-center ul.qt-desktopmenu>li.qt-menuitem>a::after {
    top: 22px
  }
  .qt-menubar.qt-menubar-center ul.qt-menu-secondary {
    height: 100px;
    text-align: center
  }
  .qt-menubar.qt-menubar-center ul.qt-menu-secondary li {
    height: 100px;
    padding-top: 0;
    line-height: 100px;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s
  }
  .qt-menubar.qt-menubar-center ul.qt-menu-secondary li.qt-centerlogo {
    height: 100px;
    vertical-align: middle;
    display: inline-block;
    float: left;
    width: 19%;
    margin: 0
  }
  .qt-menubar.qt-menubar-center ul.qt-menu-secondary li.qt-centerlogo span {
    display: table;
    width: 100%
  }
  .qt-menubar.qt-menubar-center ul.qt-menu-secondary li.qt-centerlogo a {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
    padding: 0;
    box-sizing: border-box
  }
  .qt-menubar.qt-menubar-center ul.qt-menu-secondary li.qt-centerlogo img {
    max-height: 100px;
    width: auto;
    display: inline;
    vertical-align: middle
  }
  .qt-menubar.qt-menubar-center ul.qt-menu-secondary li.qt-3dswitch {
    width: 40%;
    float: left
  }
  .qt-menubar.qt-menubar-center ul.qt-menu-secondary li.qt-3dswitch a {
    height: 100px;
    line-height: 100px;
    padding: 0;
    text-align: left
  }
  .qt-menubar.qt-menubar-center ul.qt-menu-secondary li.qt-3dswitch a i {
    padding: 0
  }
  .qt-menubar.qt-menubar-center ul.qt-menu-secondary li.qt-soc-count {
    float: right
  }
  .qt-menubar.qt-menubar-center ul.qt-menu-secondary li.qt-soc-count a span {
    opacity: 1;
    letter-spacing: 0.05em
  }
  .qt-menubar.qt-menubar-center .qt-breadcrumb {
    text-align: center;
    -webkit-transition: height 0.1s;
    transition: height 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s
  }
  #qtBody.skrollable-after .qt-menubar .qt-menubg-color {
    opacity: 1
  }
  #qtBody.skrollable-after .qt-menubar .qt-menu-secondary {
    height: 0px
  }
  #qtBody.skrollable-after .qt-breadcrumb {
    height: 0px
  }
  .qt-parentcontainer {
    position: relative
  }
  .qt-parentcontainer .qt-menubar {
    position: fixed;
    top: 0;
    z-index: 301;
  }
  .qt-parentcontainer.qt-header-transparent {
    padding-top: 0
  }
  .qt-parentcontainer.qt-header-transparent .qt-menubar {
    -webkit-transition: background 0.5s, padding 0.3s;
    transition: background 0.5s, padding 0.3s;
    padding: 5px 70px
  }
  .qt-parentcontainer.qt-header-transparent.qt-notscrolled .qt-menubar {
    padding: 25px 70px;
    background-color: transparent !important
  }
  .qt-template-page-visualcomposer .qt-parentcontainer {
    padding-top: 0
  }
  .qt-parentcontainer .qt-main.qt-page-visualcomposer {
    padding-top: 0
  }
  .qt-body-menu-center .qt-parentcontainer .qt-main {
    padding: 220px 0 0 0
  }
  .qt-body-menu-center .qt-parentcontainer .qt-main.qt-page-visualcomposer {
    padding-top: 0
  }
  .qt-body-menu-center .qt-parentcontainer .qt-pageheader-std {
    padding-top: 100px
  }
  .qt-countdown {
    font-size: 1.8rem;
    line-height: inherit;
    vertical-align: inherit;
    padding: 0 10px;
    margin: 1rem 0
  }
  .qt-countdown span {
    line-height: 1.8em;
    top: 0.1em;
    font-size: 10px
  }
  .qt-parentcontainer {
    -webkit-perspective-origin: 0% 40%;
    perspective-origin: 0% 40%;
    -webkit-transition: -webkit-perspective 0.3s;
    transition: -webkit-perspective 0.3s;
    transition: perspective 0.3s;
    transition: perspective 0.3s, -webkit-perspective 0.3s
  }
  .qt-3dfx {
    -webkit-transition: -webkit-transform 0.3s ease, -webkit-filter 0.3s;
    transition: -webkit-transform 0.3s ease, -webkit-filter 0.3s;
    transition: transform 0.3s ease, filter 0.3s;
    transition: transform 0.3s ease, filter 0.3s, -webkit-transform 0.3s ease, -webkit-filter 0.3s;
    -webkit-filter: brightness(1);
    filter: brightness(1)
  }
  .qt-3dfx-on {
    overflow: hidden;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5)
  }
  .qt-3dfx-on-IE {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
  .qt-body-3dfx-on-IE,
  .qt-body-3dfx-on {
    height: 100vh;
    overflow: hidden
  }
  .qt-layer-bottom {
    top: 200px;
    height: calc(100% - 200px)
  }
  .qt-layer-bottom>div {
    padding-bottom: 80px
  }
  .qt-layer-bottom.active {
    left: 0%
  }
  #qtBody.admin-bar {
    top: 0
  }
  #qtBody.admin-bar .qt-parentcontainer {
    padding-top: 0
  }
  #qtBody.admin-bar.qt-body-3dfx-on .qt-parentcontainer .qt-menubar {
    top: 0
  }
  .qt-related .qt-related-item {
    margin-bottom: 0
  }
  .qt-vc_verticalmenu {
    position: fixed;
    display: table;
    height: 100%;
    height: 80vh;
    top: 10%;
    top: 10vh;
    right: 10px;
    width: 30px;
    z-index: 1000
  }
  .qt-vc_verticalmenu ul {
    display: table-cell;
    vertical-align: middle
  }
  .qt-vc_verticalmenu ul li {
    margin: 10px 0
  }
  .qt-vc_verticalmenu ul li a {
    height: 36px;
    padding: 0 0;
    line-height: 36px;
    font-size: 13px;
    position: relative;
    display: block;
    color: inherit;
    white-space: nowrap
  }
  .qt-vc_verticalmenu ul li a::after {
    position: relative;
    display: inline-block;
    width: 25px;
    content: " ";
    border-bottom: 4px solid #fff;
    border-color: inherit;
    height: 1px;
    top: -2px
  }
  .qt-vc_verticalmenu ul li a span {
    position: absolute;
    right: 100%;
    margin-right: 10px;
    text-align: right;
    vertical-align: middle;
    top: 7px;
    width: 0px;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    -webkit-transition-delay: 0.08s;
    transition-delay: 0.08s;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding-right: 0px;
    opacity: 0;
    line-height: 22px;
    height: 22px;
    word-break: keep-all
  }
  .qt-vc_verticalmenu ul li a:hover span {
    width: auto;
    padding: 0 6px;
    opacity: 1
  }

  .qt-part-event-inline .qt-d {
    text-align: right;
    border-right: 1px dotted white;
    opacity: .99;
  }

  .qt-part-event-inline h3 a {
    opacity: .99;
  }
  
  .qt-part-event-inline .qt-d span {
    text-align: right
  }
  .qt-part-event-inline .qt-btn {
    margin-top: 0.8rem
  }
  .qt-material-slider .slides li .qt-slidecaption .qt-txt {
    padding: 130px 70px 0 50px
  }
  .qt-material-slider .indicators {
    text-align: center;
    bottom: 16px;
    display: none
  }
  .qt-material-slider .qt-control-arrows {
    left: 50px;
    padding-left: 0;
    top: 70px
  }
  .qt-container .qt-material-slider .qt-control-arrows {
    padding-left: 0;
    padding-top: 1rem
  }
  .qt-template-page-visualcomposer .qt-vc-row-container>.vc_row>.wpb_column>.vc_column-inner>.wpb_wrapper>.qt-material-slider .slides li .qt-slidecaption .qt-txt {
    padding-top: 250px
  }
  .qt-template-page-visualcomposer .qt-vc-row-container>.vc_row>.wpb_column>.vc_column-inner>.wpb_wrapper>.qt-material-slider .qt-control-arrows {
    top: 210px;
    left: 50px
  }
  .qt-template-page-visualcomposer .qt-vc-row-container .vc_row .wpb_column .qt-container .vc_column-inner .wpb_wrapper .qt-material-slider .slides li .qt-slidecaption .qt-txt {
    padding-top: 110px
  }
  .qt-template-page-visualcomposer .qt-vc-row-container .vc_row .wpb_column .qt-container .vc_column-inner .wpb_wrapper .qt-material-slider .qt-control-arrows {
    top: 70px
  }
  .qt-footer-bottom {
    padding: 2.5rem 0
  }
  .qt-footer-bottom .qt-copyright-text,
  .qt-footer-bottom .qt-menu-footer {
    text-align: right
  }
  .qt-footer-bottom .qt-menu-footer li {
    padding: 0 0 0 0.2rem
  }
  .qt-mplayer__btnspacer {
    display: inline-block
  }
  .qt-perspectivecard-wrapper {
    min-height: 500px;
    height: 100vh
  }
  .qt-perspectivecard__cover {
    width: 400px;
    height: 400px;
    margin: -200px 0 0 -200px;
    max-width: 100%
  }
  ul.qt-side-nav.qt-menu-offc>li {
    padding: 0.7rem 0
  }
  ul.qt-side-nav.qt-menu-offc>li>a {
    font-size: 2.827rem
  }
  ul.qt-side-nav.qt-menu-offc>li.menu-item-has-children .qt-openthis {
    top: 1.7rem;
    font-size: 2rem
  }
}

@media only screen and (min-width: 1420px) {
  .qt-container-l {
    padding: 0 70px
  }
  .qt-menubar ul.qt-desktopmenu {
    padding: 0 70px
  }
  .qt-vc_verticalmenu {
    right: 70px
  }
  .qt-menubar ul.qt-desktopmenu>li>a.qt-logo-link {
    padding-left: 0
  }
  .qt-material-slider .slides li .qt-slidecaption .qt-txt {
    padding: 130px 70px 0 70px
  }
  .qt-container .qt-material-slider .qt-control-arrows {
    left: 70px
  }
  .qt-template-page-visualcomposer .qt-vc-row-container>.vc_row>.wpb_column .vc_column-inner .wpb_wrapper .qt-material-slider .qt-control-arrows {
    left: 70px
  }
  .qt-template-page-visualcomposer .qt-vc-row-container .vc_row .wpb_column .qt-container .vc_column-inner .wpb_wrapper .qt-material-slider .slides li .qt-slidecaption .qt-txt {
    padding-top: 110px
  }
  .qt-template-page-visualcomposer .qt-vc-row-container .vc_row .wpb_column .qt-container .vc_column-inner .wpb_wrapper .qt-material-slider .qt-control-arrows {
    left: 70px;
    top: 70px
  }
}

media="only screen and (min-width: 1201px)"
@media only screen and (min-width: 1201px)
.qt-paddedcontent {
    padding: 40px;
}

media="only screen and (min-width: 1201px)"
@media only screen and (min-width: 1201px)
.qt-the-content {
    font-size: 18px;
    line-height: 1.9em;
}