/**
 *
 *	Main CSS styles
 * 
 */


/* General styles */

body,
html,
.qt-side-nav.qt-menu-offc ul {
  font-family: Rajdhani, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

p strong,
li strong,
table strong {
  font-family: Rajdhani, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.qt-txtfx {
  font-family: Rajdhani, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.qt-logo-link {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.qt-desktopmenu,
.qt-side-nav,
.qt-menu-footer,
.qt-capfont,
.qt-details,
.qt-capfont-thin,
.qt-btn,
a.qt-btn,
.qt-capfont strong,
.qt-item-metas,
button,
input[type="button"],
.button {
  font-family: Rajdhani, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.qtPlaces-container,
.qtPlaces-container * {
  box-sizing: border-box;
}

.qtPlaces-container {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  background: #efefef;
}

.qtPlaces-container .qtPlaces-list {
  display: block;
  float: left;
  width: 40%;
  height: 500px;
  /* $qt-list-background */
  background: #efefef;
  overflow-y: scroll;
  overflow-x: visible;
  /* Scrollbar
    ==========================================================*/
}

.qtPlaces-container .qtPlaces-list .qtPlaces-entry {
  position: relative;
  padding: 20px 100px 15px 14px;
  margin: 1px 0 0 0;
  min-height: 100px;
  border-bottom: 1px dotted rgba(50, 50, 50, 0.2);
  background-position: center;
  background-attachment: local;
  background-size: cover;
  background-repeat: no-repeat;
}

.qtPlaces-container .qtPlaces-list .qtPlaces-entry h4 {
  font-size: 18px;
  margin: 0;
  padding: 0 0 0 10px;
  /* $qt-button-background */
  border-left: 4px solid #2196f3;
  position: relative;
  z-index: 2;
  color: #FFFFFF !important;
}

.qtPlaces-container .qtPlaces-list .qtPlaces-entry p.listdetail {
  font-size: 0.8em;
  padding: 4px 0 0 0;
  margin-left: 0;
  position: relative;
  z-index: 2;
  color: #cdcdcd !important;
}

.qtPlaces-container .qtPlaces-list .qtPlaces-entry p.listdetail i {
  opacity: 0.7;
  margin-right: 2px;
  font-size: 0.9em;
}

.qtPlaces-container .qtPlaces-list .qtPlaces-entry a.roundbtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  /* $qt-button-background */
  background: #2196f3;
  /* $qt-button-color */
  color: #FFF;
  position: absolute;
  right: 14px;
  top: 50%;
  margin-top: -25px;
  display: block;
  border: none;
  text-align: center;
  z-index: 3;
}

.qtPlaces-container .qtPlaces-list .qtPlaces-entry a.roundbtn i {
  font-size: 30px;
  line-height: 50px;
}

.qtPlaces-container .qtPlaces-list .qtPlaces-entry::after {
  display: block;
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(45deg, black 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, black 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, black 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  z-index: 1;
}

.qtPlaces-container .qtPlaces-list .qtPlaces-menuswitch {
  display: none;
}

.qtPlaces-container .qtPlaces-list::-webkit-scrollbar {
  width: 10px;
  margin-right: -0px;
  z-index: 99999999;
  background-color: rgba(10, 10, 10, 0.1);
}

.qtPlaces-container .qtPlaces-list::-webkit-scrollbar-track {
  width: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 99999999;
}

.qtPlaces-container .qtPlaces-list::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  /* $qt-button-background */
  background-color: #2196f3;
}

.qtPlaces-container .qtPlaces-map {
  position: relative;
  overflow: hidden;
  display: block;
  float: left;
  width: 60%;
  height: 500px;
  background: #dedede;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer {
  height: 108%;
  background-color: #323232;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker {
  transition: margin 0.4s ease;
  z-index: 1;
  position: relative;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker .qtPlaces-marker-img {
  /* $qt-marker-color */
  background: #1976d2;
  cursor: pointer;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  transition: all 0.4s;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker .qtPlaces-marker-img img {
  position: absolute;
  z-index: 3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  transition: all 0.2s;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker .qtPlaces-marker-img img.hidethumbnail {
  opacity: 0;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker .qtPlaces-marker-img i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: #FFF;
  text-shadow: 2px 0 10px rgba(0, 0, 0, 0.8);
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker .qtPlaces-marker-img::after {
  display: block;
  content: " ";
  transform: rotate(45deg);
  bottom: -4px;
  left: 50%;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  position: absolute;
  z-index: 1;
  /* $qt-marker-color */
  background: #1976d2;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker .qtPlaces-marker-img::before {
  display: block;
  content: " ";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 0;
  left: 0;
  /* $qt-marker-color */
  background: #1976d2;
  position: absolute;
  z-index: 0;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker .markercontents {
  display: none;
  position: absolute;
  background: #efefef;
  color: #343434;
  width: 250px;
  padding: 20px;
  transition: all 0.4s;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker .markercontents a {
  text-decoration: none;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker .markercontents p {
  margin: 0;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker .markercontents .det {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px 0;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker .markercontents .det i {
  margin-right: 10px;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker .markercontents h5.locationname {
  margin-bottom: 4px;
  font-size: 18px;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker .markercontents .location {
  margin: 4px 0 15px;
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 1.3em;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker .markercontents .location span {
  display: block;
  font-weight: bold;
  clear: both;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker .markercontents i.fa-close {
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 26px;
  cursor: pointer;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker.active {
  margin-left: -80px;
  margin-top: -120px;
  z-index: 100;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker.active .qtPlaces-marker-img {
  border-radius: 0;
  width: 250px;
  height: 130px;
  overflow: hidden;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker.active .qtPlaces-marker-img img,
.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker.active .qtPlaces-marker-img img.hidethumbnail {
  width: 100%;
  height: auto;
  border-radius: 0;
  left: 0;
  opacity: 1;
}

.qtPlaces-container .qtPlaces-map .qtPlaces-mapcontainer .qtPlaces-mapmarker.active .markercontents {
  display: block;
}

.qtPlaces-container .qtPlaces-tags {
  position: absolute;
  padding: 12px;
  bottom: 20px;
  left: 0;
  z-index: 2;
}

.qtPlaces-container .qtPlaces-tags .qtPlaces-tag {
  display: inline-block;
  font-size: 12px;
  line-height: 22px;
  height: 26px;
  margin: 0 5px 5px 0;
  font-size: 0.8em;
  background-color: rgba(10, 10, 10, 0.4);
  color: #FFFFFF;
  border-radius: 12px;
  border: 3px solid #ffffff;
  padding: 0 10px 0 2px;
  transition: background-color 0.5s;
}

.qtPlaces-container .qtPlaces-tags .qtPlaces-tag i {
  display: inline-block;
  border-radius: 50%;
  line-height: 19px;
  width: 17px;
  height: 17px;
  /* $qt-button-background */
  background: #2196f3;
  text-align: center;
  font-size: 12px;
}

.qtPlaces-container .qtPlaces-tags .qtPlaces-tag:hover {
  background-color: rgba(10, 10, 10, 0.9);
}

.qtPlaces-container .qtPlaces-tags .qtPlaces-tag.active {
  opacity: 1;
  /* $qt-button-background */
  background-color: #2196f3;
}

.qtPlaces-container img[src*="http://maps.gstatic.com/mapfiles/google_white"] {
  display: none;
}

.qtPlaces-container a {
  box-shadow: none !important;
  text-decoration: none !important;
}

.qtPlaces-container a:hover {
  box-shadow: none !important;
  text-decoration: none !important;
}

.qtPlaces-container .qtPlaces-menuswitch {
  display: none;
}

.qtPlaces-container .qtPlaces-menuswitch i {
  padding: 0;
  line-height: 50px;
  height: 50px;
  position: relative;
  top: 0;
}

.qtPlaces-container.dark .gm-style {
  background-color: #121212;
}

div.wpcf7 {
  margin: 0;
  padding: 0;
}

div.wpcf7 .screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  border: 0;
}

div.wpcf7-response-output {
  margin: 2em 0.5em 1em;
  padding: 0.2em 1em;
  border: 2px solid #ff0000;
}

div.wpcf7-mail-sent-ok {
  border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
  border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
  border: 2px solid #ffa500;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  border: 2px solid #f7e700;
}

.wpcf7-form-control-wrap {
  position: relative;
}

span.wpcf7-not-valid-tip {
  color: #f00;
  font-size: 1em;
  font-weight: normal;
  display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 100;
  border: 1px solid #ff0000;
  background: #fff;
  padding: .2em .8em;
}

span.wpcf7-list-item {
  display: inline-block;
  margin: 0 0 0 1em;
}

span.wpcf7-list-item-label::before,
span.wpcf7-list-item-label::after {
  content: " ";
}

.wpcf7-display-none {
  display: none;
}

div.wpcf7 .ajax-loader {
  visibility: hidden;
  display: inline-block;
  background-image: url('../../images/ajax-loader.gif');
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  margin: 0 0 0 4px;
  vertical-align: middle;
}

div.wpcf7 .ajax-loader.is-active {
  visibility: visible;
}

div.wpcf7 div.ajax-error {
  display: none;
}

div.wpcf7 .placeheld {
  color: #888;
}

div.wpcf7 input[type="file"] {
  cursor: pointer;
}

div.wpcf7 input[type="file"]:disabled {
  cursor: default;
}

div.wpcf7 .wpcf7-submit:disabled {
  cursor: not-allowed;
}